:root {
  --font-sans-serif: Epilogue, sans-serif;
  --brand-yellow: #f9e430;
  --light-yellow: #f2f0cd;
  --red-orange: #ff5a00;
  --black: #000;
  --white: #fff;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-sans-serif);
  line-height: 1.6;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/*Templates - Left Navbar*/

.component-page {
  display: grid;
  grid-template-columns: 18rem minmax(0, 1fr);
  grid-template-areas: "header main";
  padding-top: 0;
}

.component-page__header {
  position: fixed;
  top: 0;
  bottom: 0;
  background: #ccc;
  z-index: 100;
  overflow-y: scroll;
}

.component-page__header-container {
  position: static;
  padding: .5rem 1.5rem;
}

.sidebar-nav__heading {
  margin-bottom: .3em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
}

.sidebar-nav__list {
  margin-top: 0;
  flex-direction: column;
  font-size: .9rem;
}

/*Templates - Main Content*/

.component-page__main {
  grid-area: main;
  padding: 2rem;
}

.component-page__main-heading {
  font-size: 2rem;
  margin: 0;
}

.component-page__main-text {
  font-size: 1rem;
}

.component {
  position: relative;
}

.component img {
  max-width: initial;
}

.component__image {
  overflow-x: auto;
  border: 1px solid #ccc;
  position: relative;
}

.component__code {
  border: 1px solid #ccc;
  position: relative;
  padding: 1em;
}

.component__image:before,
.component__code:before {
  font-family: monospace;
  content: "IMG";
  z-index: 1;
  padding: .25em;
  position: absolute;
  top: 0;
  right: 0;
  background: #f0f0f0;
}

.component__code:before {
  content: "CODE";
}

.component-page .component__name {
  position: sticky;
  top: 2rem;
  z-index: 9;
  background: #ccc;
  font-size: .9rem;
  font-weight: 400;
  margin: 0;
  padding: .5rem;
}

.component-page__section-heading {
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  background: var(--black);
  color: var(--white);
  padding: 0.5rem;
  position: sticky;
  top: 0rem;
  z-index: 10;
}

/*Typography*/

h1 {
  font-weight: 900;
  font-size: 3vw;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

h1 .special-style {
  font-weight: 600;
  color: var(--red-orange);
}

h2, h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 1.2rem;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/*Page header*/

header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid black;
  align-items: center;
  margin-top: 1rem;
}

.header__logo {
  border-right: 1px solid black;
  display: inline-block;
  padding: .3rem;
  width: 54%;
}

.header__status {
  display: flex;
  align-items: center;
  justiify-content: flex-start;
  float: left;
  margin-left: -30px;
}

.fa-circle {
  color: #0bda04;
}

.header__status p {
  padding-left: .5rem;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav__item:first-child a {
  border-left: 1px solid black;
}

.nav__item a {
  padding: 1.8rem 2.2rem;
  border-right: 1px solid black;
  display; inline-block;
  font-size: 1.1rem;
  font-weight: 500;
}

.nav__item:last-child a {
  border-right: none;
}

.nav__item--active a {
  background: var(--brand-yellow);
}

.nav__item-move {
  transition: transform .1s ease-in;
  display: inline-block;
}

.nav__item a:hover .nav__item-move {
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

/*Sidebar*/

.clearfix {
  overflow: auto;
}

.force-top-align {
  top: 0 !important;
  position: absolute;
}

.two-col {
  float: left;
  width: 50%;
}

.side-navigation__image {
  height: 260px;
}

.social-media__list {
  display: flex;
  flex-direction: column;
  padding-left: .5em;
  margin-top: 1.1em;
  margin-bottom: 2px;
}

.social-media__item {
  line-height: 1;
}

.social-media__item img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: transform .3s;
  border: 1px solid var(--white);
  margin-bottom: 20px;
}

.social-media__item a:hover img {
  box-shadow: 3px 3px 0px var(--red-orange);
  -ms-transform: skew(-3deg, -3deg);
  transform: skew(-3deg, -3deg);
}

.social-media__item--black a:hover img {
  box-shadow: 3px 3px 0px var(--black);
}

.social-media__item--blue a:hover img {
  box-shadow: 3px 3px 0px #0370AD;
}

/*Main Page Section*/

.main-content__heading {
  margin-top: 40px;
  margin-bottom: 20px;
}

.main-content__body {
  margin-bottom: 40px;
}

.button {
  font-size: 1.1rem;
  line-height: 1em;
  font-weight: 500;
  background: var(--brand-yellow);
  padding: .8rem 1rem;
  border: 2px solid black;
  border-radius: 3px;
  transition: .1s ease-in;
  display: inline-block;
  text-align: center;
}

.button:hover {
  -ms-transform: skew(-3deg, -3deg);
  transform: skew(-3deg, -3deg);
  box-shadow: 5px 5px 0 var(--black);
}

.main__image-snoopy {
  padding-top: 1rem;
  width: 150px;
}

/*Aside Section*/

aside {
  max-width: 100%;
  border-left: 1px solid var(--black);
}

.aside__image img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  object-position: 50% 50%;
}

.aside__text {
  border-top: 1px solid var(--black);
  background: var(--brand-yellow);
  max-width: 600px;
}

.aside__text h2 {
  padding: 3rem 0 4rem;
  line-height: 1.2;
  font-size: 2rem;
  text-align: center;
  transition: transform .1s ease-in;
}

.aside__text:hover h2 {
  transform: scale(1.3);
}

/*Page Section Border*/

.page-section__border {
  border-top:  1px solid black;
  border-bottom:  1px solid black;
  margin-top: 1rem;
  overflow-x: hidden;
  background: var(--light-yellow);
}

.tickertape {
  display: flex;
  width: 200%;
  justify-content: flex-start;
  align-items: center;
  animation: tickerh linear 20s infinite;
}

.tickertape > * {
  padding: 0 1rem;
  display: block;
  width: 100%;
}

.tickertape h2 {
  color: var(--red-orange);
  margin: 0;
  display: inline-block;
  font-size: 2rem;
  line-height: 1em;
  text-align: center;
}

@keyframes tickerh {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}

.border-item {
  display: flex;
  height: 8vh;
  padding: 20px 30px 20px 0;
  justify-content: center;
  align-items: center;
}

.border__icon {
  height: 1.5rem;
  margin-left: 30px;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
}

/*Page Section - Testament*/

.page-section-testament {
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.page-section-wrapper {
  padding: 8vw 5vw;
}

.page-section-testament > * {
  padding: 3%;
}

.testament-wrap__image-stars {
  display: flex;
  margin-bottom: 1rem;
}

.testament-wrap__image-stars img {
  width: 25px;
  margin: 5px;
}

.testament-blockquote {
  margin: 0;
  padding: 0;
}

.testament-client-block {
  margin-top: 20px;
  padding: 0;
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
}

.client-block__image {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.client-block__name h5 {
  margin-bottom: 10px;
}

.client-block__name p {
  font-size: 1.2rem;
  font-weight: 200;
}

.testament-summary-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-content: space-between;
}

.testament-summary-block h3 {
  color: var(--red-orange);
  font-size: 3rem;
  line-height: 1.5em;
  font-weight: 900;
  margin-top: 20px;
}

.testament-summary-block h5 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  line-height: 30px;
  font-weight: 700;
}

/*Page Section - Skills*/

.page-section-skills {
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
}

.skills-block {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.skills-block:last-child {
  border-bottom: none;
}

.skills-block-wrapper {
  padding: 1rem 6rem;
}

.flood {
  background-image: linear-gradient(to bottom, transparent, transparent 50%, var(--brand-yellow) 50%, var(--brand-yellow));
  transition: background-position 1s;
  background-size: 100% 200%;
}

.flood:hover {
  background-position: 0 -100%;
}

.skills-block__main-heading {
  font-size: 1.7rem;
}

.highlight {
  color: var(--red-orange);
}

.skills-block__heading {
  font-size: 1.3rem;
  line-height: 1em;
  margin: 20px 20px 20px 0;
}

.skills-block__subheading {
  font-size: 1rem;
  line-height: 1.2em;
  margin: 10px 20px 10px 0;
}

/*Contact Form*/

.contact-wrapper {
  padding: 8vh 5vw;
}

.contact__heading {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 1.2em;
}

.contact__body {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1rem;
  line-height: 1.5em;
}

.contact-form {
  margin: 40px 0 15px;
}

.contact-form h4 {
  font-weight: 500;
  display: inline-block;
  line-height: 1em;
  font-size: 24px;
}

.contact-form input {
  font-family: var(--font-sans-serif);
  font-weight: 500;
  color: #ccc;
  font-size: 18px;
  padding: 8px 12px;
  margin: 10px 5px;
  border: transparent;
  border-bottom: 1px solid black;
  width: 250px;
  background: var(--light-yellow);
}

/*Footer*/

.footer {
  background: var(--light-yellow);
}

.footer-copyright {
  font-weight: 500;
  text-align: center;
  line-height: 1.3em;
  font-size: 1rem;
  padding: 1rem;
}

/*Homepage - Header*/

.wrapper {
  position: fixed;
  margin-top: 0;
  width: 100%;
  background: var(--white);
  z-index: 100;
  top: 0;
}

.header__status p {
  /*margin: 0;*/
}

/*Homepage - Sidebar*/

.side-navigation--left {
  position: fixed;
  height: 100%;
  width: 4.5rem;
  background: var(--white);
  z-index: 99;
  padding-top: 10rem;
  padding-left: .5rem;
  border-right: 1px solid var(--black);
}

.side-navigation--bottom {
  position: absolute;
  bottom: 0rem;
}



/*Homepage - Top Fold*/

.main-content {
  background: var(--light-yellow);
  margin-left: 4rem;
  overflow: hidden;
}

.main-content--top {
  display: grid;
  grid-template-columns: 65% 35%;
  height: 92vh;
}

.main-content-text {
  display: flex;
  flex-direction: column;
  padding: 2rem 6rem;
  justify-content: center;
  width: 95%;
}

.main-content-aside {
  display: grid;
  grid-template-rows: 60% auto;
}

.main-content-aside .aside__image img {
  width: 100vw;
}

.main-content-aside .aside__text {
  display: grid;
  justify-content: center;
  align-content: center;
  max-width: 100vw;
}

.main-content-aside .aside__text h2 {
  padding-left: 20px;
}

/*Homepage - Border Section*/

.page-section__border--bottom {
  margin-top: 0;
  position: relative;
  overflow: visible;
}

.border-item {
  display: flex;
  height: 8vh;
  padding: 20px 30px 20px 0;
  justify-content: center;
  align-items: center;
}

.border__icon {
  height: 1.5rem;
  margin-left: 30px;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
}

.page-section__border--bottom .tickertape h2 {
  padding-left: 30px;
}

.snoopy-position {
  position: absolute;
  left: 45vw;
  top: auto;
  right: 0;
  bottom: 6vh;
  z-index: 99;
  overflow: hidden;
  width: 150px;
}

.mobile-skills-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  column-gap: 20px;
}

.skills-block h3 {
  font-size: 180%;
  text-align: center;
}
.skills-block h4 {
  font-size: 140%;
}

/*Homepage - iPad*/

.menu-button,
.mobile-image {
  display: none;
}

@media (max-width: 60rem) {
  .wrapper {
    border: none;
    background: var(--light-yellow);
    position: static;
  }
  .header__logo {
    border: none;
  }
  .header__status {
    border: 1px solid var(--black);
    border-radius: 30px;
    width: 130px;
    padding: .4em 1em;
    margin-left: -60px;
  }
  .fa-solid {
    padding-right: .5rem;
  }
  .header__status p {
    font-size: .9rem;
/*    padding: 0;*/
  }
  .page-header__nav {
    display: none;
  }
  .menu-button {
    display: block;
    border: 1px solid var(--black);
    border-radius: 30px;
    width: 100px;
    padding: .4em 1em;
    margin-right: 1rem;
  }
  .menu-text {
    display: flex;
    align-items: center;
  }
  .fa-grip-lines {
    padding-left: 10px;
  }
  .side-navigation {
    display: none;
  }
  .main-content {
    margin: 0;
  }
  .main-content--top {
    height: auto;
  }
  .main-content-text {
    width: 90vw;
    padding: 6rem 2rem;
    z-index: 2;
  }
  .main-content-text p {
    font-size: 90%;
    padding: 0;
  }
  .main-content-text > * {
    width: 90%;
  }
  h1 {
    font-size: 200%;
    margin: 0;
  }
  h2 {
    font-size: 150%;
  }
  .stats-block h3 {
    font-size: 200%;
  }
  h5 {
    font-size: 120%;
  }

  p {
    padding: 1rem 0;
  }
  .main-content-aside {
    display: none;
  }
  .mobile-image {
    display: block;
    position: absolute;
    left: auto;
    top: 120px;
    right: 40px;
    bottom: auto;
    display: block;
    width: 30%;
    opacity: .5;
  }
  .page-section-testament {
    display: flex;
    flex-direction: column-reverse;
    padding: 3%;
    margin: 0;
  }
  .client-block {
    padding-top: 1rem;
  }
  .client-block__name p {
    padding: 0;
  }
  .skills-block {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
  }
  .skills-block h3 {
    font-size: 140%;
    text-align: center;
  }
  .skills-block h4 {
    font-size: 120%;
  }
  .mobile-skills-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .page-section-contact {
    padding: 5rem 3rem;
  }
  .page-section-contact p {
    font-size: 90%;
  }
  .contact-form h4 {
    font-size: 90%;
  }
  .contact-form input {
    font-size: 90%;
    width: 180px;
  }
  footer p {
    font-size: 90%;
  }
}
