:root {
  --font-sans-serif: Epilogue, sans-serif;
  --brand-yellow: #f9e430;
  --light-yellow: #f2f0cd;
  --red-orange: #ff5a00;
  --black: #000;
  --white: #fff;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-sans-serif);
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

.component img {
  max-width: initial;
}

.component__image {
  overflow-x: auto;
}

h1 {
  font-weight: 900;
  font-size: 2.8rem;
  line-height: 1.2;
}

h1 .special-style {
  font-weight: 600;
  color: var(--red-orange);
}

h2, h3 {
  font-weight: 700;
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

/*.component__code > * {
  padding: 1rem;
}*/

header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid black;
  align-items: center;
  margin-top: 1rem;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
}

li:first-child a {
  border-left: 1px solid black;
}

li a {
  padding: 1.9rem 2.2rem;
  border-right: 1px solid black;
  display; inline-block;
  font-size: 1.1rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}

.header__logo {
  border-right: 1px solid black;
  display: inline-block;
  padding: .4rem;
  width: 54%;
}

.header__status {
  display: flex;
  align-items: center;
  justiify-content: flex-start;
  float: left;
}

.fa-circle {
  color: #0bda04;
}

.header__status p {
  padding-left: .5rem;
}

.menu__item--active a {
  background: var(--brand-yellow);
}

.button {
  font-size: 1.1rem;
  font-weight: 500;
  background: var(--brand-yellow);
  padding: .8rem 2rem;
  border: 2px solid black;
  border-radius: 3px;
}

.main__image-snoopy {
  position: absolute;
  top: 2750px;
  right: 700px;
  width: 150px;
}

aside {
  width: 42.3%;
}

.aside__text {
  background: var(--brand-yellow);
}

.aside__text h2 {
  margin: 0;
  padding: 3rem 5rem;
  text-align: center;
}

.page-section__border {
  border:  1px solid black;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.page-section__border > * {
  padding: 0 1rem;
}

.page-section__border h2 {
  color: var(--red-orange);
  margin: 0;
}

.border__icon {
  height: 25px;
}

.page-section-testament {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.page-section-testament > * {
  padding: 1rem;
  margin: 1rem;
}

.blockquote__images-stars {
  display: flex;
  margin-bottom: 1rem;
}

.blockquote__images-stars img {
  width: 25px;
  margin: 5px;
}

blockquote {
  margin: 0;
}

.client-block {
  display: grid;
  grid-template-columns: 100px 1fr;
  margin-top: 1rem;
} 

.client-block__image {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.client-block__name h5 {
  margin: 0;
}

.client-block__name p {
  font-size: 1.2rem;
  font-weight: 200;
  margin: .5rem 0;
}

.stats-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.stats-block h3 {
  color: var(--red-orange);
  font-size: 3rem;
  font-weight: 900;
}

.stats-block h4 {

}