<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Components | Alexis Gardin</title>
	<link rel="preconnect" href="https://fonts.googleapis.com"> 
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
	<link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<h1>Web Components</h1>

	<h2>Typography Defaults</h2>

	<article class="component">
		<h3 class="component__name">body</h3>
		<img
			srcset="img/main__text.png 2x" 
			src="img/main__text.png" alt="body text">
		<div class="component__code">
			<p>Originaire de Normandie et anciennement chef de projet, c'est après un voyage d'un an en Nouvelle-Zélande que je décide de m'orienter vers les métiers du web. S'en suivent 2 bachelors dans les métiers du web (chef de projet digital + Designer Web) ainsi qu'une certification professionnelle d'UX designer délivré par l'UX design institute de Dublin.</p>
		</div>
	</article>

</body>
</html>